<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root@123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/etaps1</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="pojo/Automailer.hbm.xml" />
        <mapping resource="pojo/Datasetstatus.hbm.xml" />
        <mapping resource="pojo/Datasethistory.hbm.xml" />
        <mapping resource="pojo/Articlestage.hbm.xml" />
        <mapping resource="pojo/Checkpoint.hbm.xml" />
        <mapping resource="pojo/Users.hbm.xml" />
        <mapping resource="pojo/Article.hbm.xml" />
        <mapping resource="pojo/Journal.hbm.xml" />
    </session-factory>
</hibernate-configuration>
